*

!.gitignore
!ChessRL.py
!Helper_Functions.py
!Play_game.py
!run.py
!ChessRL.ipynb
!__init__.py
!MCTS.py
!notes.txt
!hf.py
!ChessRL_test.py
!legacy/
!legacy/**
!train_real_data.py
!train_self_play.py
!preprocess_PGN.py
